<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="ELF32 运行器"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:theme="@style/Theme.Elf32Runner">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="ELF32 运行器">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
